@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body{
    background: #ffffff;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 650;
    font-style: normal;   
}

/* Adicione estas classes ao seu arquivo Home.css */

.carousel-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .carousel .carousel-status {
    display: none;
  }
  
  .carousel .carousel .legend {
    background: rgba(0, 0, 0, 0.5); /* Fundo translúcido para a legenda */
    color: #fff; /* Cor do texto da legenda */
    border-radius: 0 0 15px 15px; /* Bordas arredondadas apenas na parte inferior */
    padding: 10px;
  }
  